#login {
    width: fit-content;
    margin: auto;
    margin-right: 20px;
    margin-top: 10px;
}
#topbar {
  display: flex;
  background-color: white;
  padding-bottom: 6px;
}
#homebutton {
  margin-top: 10px;
  margin-left: 20px;
}
