.mCard {
    margin: 10px;
}
.cardsContainer {
    margin: auto;
    margin-right: 0;
    overflow-y: scroll;
    height: 100%;
    width: 80%;
}
.container {
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
}
.result {
    display: flex;
    height: 500px;
}

.map {
    width: 50%;
}
.leaflet-container {
    width: 100%;
    height: 100%;
}